[submodule "proj1"]
	path = proj1
	url = https://github.com/libby/proj1.git
	branch = bird
[submodule "proj2"]
	path = proj2
	url = https://github.com/libby/proj2.git
	branch = bird
[submodule "proj3"]
	path = proj3
	url = https://github.com/libby/proj3.git
	branch = bird
